<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header>
    <h1>Task Management TODOs</h1>
    <nav>
      <form action="/auth/logout" method="post">
        <input type="submit" id="submit" value="LogOut" />
      </form>
    </nav>
  </header>
  <main>

    <form method="post" action="/add">
      <label for="title">Add Tasks:</label>
      <input type="text" name="title" id="title" placeholder="Your new task" required />
      <input type="submit" id="submit" value="Add" />
    </form>
    <ul>
      <% tasks.forEach((task)=>{ %>
      <li>
        <%= task.title %>
        <form method="post" action="/delete/<%= task._id%>">
          <button type="submit">delete</button>
          <a href="/edit/<%=task._id%>">edit</a>
        </form>
      </li>
      <% }) %>
    </ul>
  </main>
</body>

</html>