<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
</head>

<body>
  <h1>SIGN UP FORM</h1>
  <form action="/auth/sign-up" method="post">
    <input type="text" name="name" id="name" placeholder="name"><br>
    <input type="email" name="email" id="email" placeholder="email"><br>
    <input type="password" name="password" id="password" placeholder="password"><br>
    <input type="text" name="username" id="username" placeholder="username"><br>
    <input type="submit" value="Sign Up">
  </form>
</body>

</html>