<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In</title>
</head>

<body>
  <h1>SIGN IN FORM</h1>
  <% if (message){ %>
    <p><%= message %></p>
    <% } %>
  <form action="/auth/sign-in" method="post">
    <input type="email" name="email" id="email" placeholder="email"><br>
    <input type="password" name="password" id="password" placeholder="password"><br>
    <input type="submit" value="Sign In">
  </form>
</body>

</html>